<div class="w3-top">
<div class="w3-bar w3-border w3-card-4 w3-theme-d5 w3-large ">
    <a href="#" class="w3-bar-item w3-button w3-theme w3-mobile top-link"><i class="fa fa-bed w3-margin-right"></i>Charin Inn</a>
    <a href="#rooms" class="w3-bar-item w3-button w3-mobile top-link">Rooms</a>
    <a href="#about" class="w3-bar-item w3-button w3-mobile top-link">About</a>
    <a href="#contact" class="w3-bar-item w3-button w3-mobile top-link">Contact</a>
    <a href="#contact" class="w3-bar-item w3-button w3-right w3-theme-action w3-mobile top-link">Book Now</a>
</div>
</div>

