<div class="w3-row-padding w3-container" id="about"> 
    <div class="w3-col w3-cell w3-cell-middle l4 12">
        <div class="w3-card-4 w3-theme" >
            <h3>About</h3>
            <h6>Our hotel is one of a kind. It is truely amazing. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</h6>
            <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
        </div>
    </div>
    <div class="w3-col w3-cell w3-cell-middle l8 12 ">
        <div class="w3-card-4 w3-theme " >
            <div class="my-map"> 
                <!-- Image of location/map -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1737.5328732688874!2d-112.025947243071!3d41.115708425563355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875304c1929cafc1%3A0x576d10f689b4a33a!2sCharin+Inn!5e1!3m2!1sen!2sus!4v1548410705663"  style="border:0; " frameborder="0" allowfullscreen "></iframe>
            </div>
        </div>
    </div>
</div>

<div class="w3-row-padding w3-large w3-center" style="margin:32px 0">
    <div class="w3-third"><i class="fa fa-map-marker w3-text-red"></i> 423 Some adr, Chicago, US</div>
    <div class="w3-third"><i class="fa fa-phone w3-text-red"></i> Phone: +00 151515</div>
    <div class="w3-third"><i class="fa fa-envelope w3-text-red"></i> Email: mail@mail.com</div>
</div>

